<link rel="import" href="http://localhost:8081/polymer/polymer.html">
<link rel="import" href="http://localhost:8081/paper-input/paper-input.html">
<link rel="import" href="http://localhost:8081/paper-button/paper-button.html">
<link rel="import" href="rely-import.html">

<dom-module id="dynamic-portal">

    <template>

        <style>
            paper-button.add {
                color: whitesmoke;
                background: #90a4ae;
            }
            div.add {
                display: flex;
                flex-direction:column;
                align-items:flex-end;
            }
            div.menue {
                display: flex;
                flex-direction:column;
                justify-content:space-around;
                align-items:stretch;
            }
            div.all{
                display: flex;
                flex-direction:column;
                justify-content:space-around;
                height: 550px;
                width: 100%;
            }
            div.custom {
                display: flex;
                flex-direction:column;
                align-items:stretch;
                justify-content:flex-start;
                background-color: lightgrey;
                height: 200px;
                width: 100%;
            }
            div.customcomp {
                display: flex;
                flex-direction:column;
                align-items:stretch;
                justify-content:space-around;
                background-color: lightgrey;
                height: 100px;
                width: 100%;
            }

        </style>

        <div class="all">

            <div class="menue">
                <div>Please insert the URL and the Tag of the component:</div>
                <div>
                    <paper-input label="URL" value="{{url}}"></paper-input>
                </div>

                <rely-import id="myImporter"
                             state="{{state}}"
                             initial-retry-delay-ms="1000"
                             href={{wcImportUrl}}>
                </rely-import>

                <template is="dom-if" if="[[isLoading(state)]]">
                    <H3>Please wait, component source is being loaded</H3>
                </template>

                <template is="dom-if" if="[[isLoaded(state)]]">
                    <H3>The component source was dynamically loaded</H3>
                </template>

                <div>
                    <paper-input label="Tag" value="{{tag}}"></paper-input>
                </div>
            </div>

            <div class="add">
                    <paper-button class="add" on-tap="addComponent">Add</paper-button>
            </div>

            <div class ="custom" >
                This space is reserved to external components, loaded into the portal

                <template is="dom-if" if="[[isLoaded(state)]]">
                        <div class="customcomp" id="dynamicWebcomponent"></div>
                </template>
            </div>

            <template is="dom-if" if="[[canSayHello(activeTag)]]">
                <div class="add">
                    <paper-button class="add" on-tap="sendEvent">Say Hello</paper-button>
                </div>
            </template>

        </div>


    </template>

    <script>
        class DynamicPortalElement extends Polymer.Element {
            static get is() { return "dynamic-portal"; }

            static get properties() {
                return {

                    state: {
                        value: 'loading',
                        notify: true,
                        observer: 'wcImportStateChanged'

                    },

                    url: {
                        value: 'http://localhost:8444/componentA/MyPolymerComponent.html',
                        notify: true,
                        observer: 'urlChanged'
                    },

                    wcImportUrl: {
                        value: 'http://localhost:8444/componentA/MyPolymerComponent.html',
                        notify: true
                    },

                    tag: {
                        value: '',
                        notify: true
                    },
                    activeTag: {
                        value: '',
                        notify: true
                    }

                }
            }
            constructor() {
                super();
            }

            connectedCallback() {
                super.connectedCallback();
                document.addEventListener("messageToPortal", this.showEvent.bind(this));
            }

            disconnectedCallback() {
                document.removeEventListener(messageToPortal, this.showEvent.bind(this));
            }

            showEvent(internalEvent) {
                // this.set("wcImportUrl", internalEvent.detail.event.url);
                this.set("url", internalEvent.detail.event.url);
                this.set("tag", internalEvent.detail.event.tag);
                setTimeout(this.addComponent.bind(this), this.initialRetryDelayMs)

            }

            sendEvent () {
                document.dispatchEvent(new CustomEvent('messageFromPortal', {'detail': {event: "Hello World"}}))
            }
            isReadyToLoad(r) {
                return typeof this.url!="undefined"
            }
            canSayHello(s) {
                return (s=="custom-a" ||s=="custom-b")
            }
            isLoading(s) {
                return s!="loaded"
            }
            isLoaded(s) {
                return s=="loaded"
            }

            urlChanged(){
                this.set("wcImportUrl", this.url)
            }
            addComponent() {
                if (this.isReadyToLoad(this.url)&& (this.tag!='')&&this.shadowRoot.querySelector('#dynamicWebcomponent')){
                    this.addWebcomponent(this.url, this.tag, this.args);
                }
            }


            wcImportStateChanged(){
                Polymer.Async.microTask.run(
                    this.addComponent.bind(this));
            }


            addWebcomponent(url, tag, args){
                let dynC= this.shadowRoot.querySelector('#dynamicWebcomponent')
                dynC.innerHTML = ""; //Flush content before adding new webcomponent

                let webComponentElement = document.createElement(tag);
                // add dynamic arguments as attributes to new webcomponent:
                for (let property in args) {
                    if (args.hasOwnProperty(property)) {
                        let v = args[property];
                        webComponentElement.setAttribute(property, v);
                    }
                }

                dynC.appendChild(webComponentElement);
                this.set("activeTag", tag)
            }
        }
        customElements.define(DynamicPortalElement.is, DynamicPortalElement);
    </script>
</dom-module>
