<link rel="import" href="http://localhost:8081/polymer/polymer.html">

<!--
Element to support reliable import of external resources, e.g. web components of other
services that may not be available when the importing page is rendered in the browser.

Usage is to bind a property to the state attribute and use this to control visibility
of a place holder while loading (state == 'loading') and the real element once the import
is completed (state == 'loaded').

##### Example:
        <rely-import id="myImporter"
                     state="{{state}}"
                     initial-retry-delay-ms="1000"
                     href="http://127.0.0.1:8444/componentA/MyPolymerComponent.html">
        </rely-import>

        <template is="dom-if" if="[[isLoading(state)]]">
            <H3>Please wait, component is being loaded</H3>
        </template>

        <template is="dom-if" if="[[isLoaded(state)]]">
            <H3>The component was successfully loaded!</H3>
            <custom-element></custom-element>
        </template>
-->
<dom-module id="rely-import">

    <template>

    </template>

    <script>
        class RelyImportElement extends Polymer.Element {
            static get is() { return "rely-import"; }

            static get properties() {
                return {

                /**
                 * Denotes the href (URI) of what to import.
                 * @attribute href
                 * @type String
                 * @default null
                 */
                href: {
                    value: String,
                    notify: true,
                    observer: 'wcUrlChanged'

                },

                /**
                 * Reflects the current state of the import process.
                 * Currently supported values are 'loading' and 'loaded'.
                 * @attribute state
                 * @type String
                 * @default 'loading'
                 */
                state: {
                    value: 'loading',
                    notify: true
                },

                /**
                 * Specifies the initial retry delay in milliseconds.
                 * @attribute initialRetryDelayMs
                 * @type number
                 * @default 2000
                 */
                initialRetryDelayMs: {
                    value: 2000
                }

                }
            }
            constructor() {
                super();

            }
            wcUrlChanged(){
                this.set('state', 'loading');
                console.log("changed state=" + this.state +" url:" +this.href)
                setTimeout(this.checkAvailability.bind(this), 1000)
            }
            elementLoaded(e) {
                this.set('state', 'loaded');
                console.log("changed state=" + this.state +" url:" +this.href)
            }

            handleLoadError(status) {
                setTimeout(this.checkAvailability.bind(this), this.initialRetryDelayMs)
                this.initialRetryDelayMs = this.initialRetryDelayMs * 1.5
            }

            loadImport(){
                Polymer.importHref(
                    this.href,
                    this.elementLoaded.bind(this),
                    this.handleLoadError.bind(this)
                )
            }

            insertAfterThis(newNode) {
                this.parentNode.insertBefore(newNode, this.nextSibling)
            }

            handleRedirect(request, redirectedUrl) {
                console.log("rely-import: handleRedirect, redirectedUrl=" + redirectedUrl)
                console.error("redirect not supported!")
            }


            isOk(request) {
                return request.status >= 200 && request.status < 300 || request.status === 304 || request.status !== 0;
            }

            checkAvailability() {
                let request = new XMLHttpRequest();
                request.open("HEAD", this.href + "?" + Math.random(), true);
                request.addEventListener("readystatechange", function(e){
                    if (request.readyState === 4) {
                        let locationHeader = null;
                        if (request.status === 302 || request.status === 304) locationHeader = request.getResponseHeader("Location");
                        let redirectedUrl = null;
                        if (locationHeader)  redirectedUrl = locationHeader.substr(0, 1) === "/" ? location.origin + locationHeader : locationHeader;
                        if (this.isOk(request)) {
                            if (redirectedUrl != null) this.handleRedirect(request, redirectedUrl);
                            else this.loadImport()
                        } else this.handleLoadError(request.status)
                    }
                }.bind(this));
                request.send();
                request.responseType = "document";
            }

        }
        customElements.define(RelyImportElement.is, RelyImportElement);
    </script>
</dom-module>
